<!-- eslint-disable @angular-eslint/template/click-events-have-key-events -->
<!-- eslint-disable @angular-eslint/template/interactive-supports-focus -->
<div class="container fit-card">
  <div class="row row-cols-4">
    <div
      *ngFor="let book of this.searchBarService.getResponseArr(); let i = index"
    >
      <div class="card">
        <div class="card-body">
          <h5
            class="card-title bookTitle"
            (click)="this.itemDetailService.goDetails(book?.title, book?.key)"
          >
            {{ book?.title }}
          </h5>
          <div class="divider"></div>
          <img
            class="card-img-top bookCover"
            src="https://covers.openlibrary.org/b/id/{{
              this.searchBarService.selectParam === 'subject'
                ? book?.cover_id
                : book?.cover_i
            }}-M.jpg"
            alt="Cover"
          />
          <div class="divider"></div>
          <p
            class="card-text"
            (click)="
              this.authorDetailsService.goDetails(
                this.searchBarService.selectParam === 'subject'
                  ? book?.authors[0]?.name
                  : book?.author_name[0],
                this.searchBarService.selectParam === 'subject'
                  ? book?.authors[0]?.key
                  : '/authors/' + book?.author_key[0]
              )
            "
          >
            Autore :<em class="card-title">
              {{ (this.searchBarService.selectParam === 'subject' && book?.authors?.length > 0)
              ? getAuthorName(book?.authors[0]?.name)
              : getAuthorName(book?.author_name) }}

              </em
            >
          </p>
          <div class="divider"></div>
          <p class="card-text">
            Anno di pubblicazione :
            <span class="card-date">{{ book?.first_publish_year }}</span>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
