<div class="container fit-card">
  <div class="row row-cols-5">
    <div
      *ngFor="let book of this.searchBarService.getResponseArr(); let i = index"
    >
      <div class="card">
        <div class="card-body">
          <h5
            class="card-title"
            (click)="this.itemDetailService.goDetails(book.title, book.key)"
          >
            {{ book.title }}
          </h5>

          <img
            class="card-img-top"
            src="https://covers.openlibrary.org/b/id/{{
              this.searchBarService.selectParam === 'subject' ? book.cover_id : book.cover_i
            }}.jpg"
            alt="Cover"
          />

          <p
            class="card-text"
            (click)="
              this.itemDetailService.goDetails(
                this.searchBarService.selectParam === 'subject'
                ? book.authors[0].name
                : book.author_name[0],
                this.searchBarService.selectParam === 'subject'
                  ? book.authors[0].key
                  : '/authors/'+ book.author_key[0]
              );

            "
          >
            Autore :<em class="card-title">
              {{
                this.searchBarService.selectParam === "subject"
                  ? book.authors[0].name
                  : getAuthorName(book.author_name)
              }}</em
            >
          </p>
          <p class="card-text">
            Anno di pubblicazione : {{ book.first_publish_year }}
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
