<div *ngFor="let book of responseArray ; let i = index">
  <h2>{{responseArray.length}} totale trovati</h2>
  <div class="card" *ngIf="selectedOption.value === 'subject'">
    <div class="card-header">
      <h4 class="card-title">{{ book.title }}</h4>
    </div>
    <div class="card-body">
      <div class="card-info">
        <!-- <p><strong>Availability:</strong> {{ book.availability.status }}</p> -->
        <p><strong>Cover Edition Key:</strong> {{ book.cover_edition_key }}</p>
        <p><strong>Edition Count:</strong> {{ book.edition_count }}</p>
        <p><strong>First Publish Year:</strong> {{ book.first_publish_year }}</p>
        <p><strong>Has Fulltext:</strong> {{ book.has_fulltext }}</p>
        <!-- Aggiungi altre proprietà da visualizzare nella card per il parametro "subjects" -->
      </div>
      <div class="card-subjects">
        <p><strong>Subjects:</strong></p>
        <ul>
          <li *ngFor="let subject of book.subject">{{ subject }}</li>
        </ul>
      </div>
    </div>
  </div>

  <div class="card" *ngIf="selectedOption.value === 'title'">
    <div class="card-header">
      <h4 class="card-title">{{ book.title }}</h4>
    </div>
    <div class="card-body">
      <div class="card-info">
        <p><strong>Author Name:</strong> {{ book.author_name }}</p>
        <p><strong>First Publish Year:</strong> {{ book.first_publish_year }}</p>
        <!-- <p><strong>Language:</strong> {{ book.language.join(', ') }}</p> -->
        <!-- Aggiungi altre proprietà da visualizzare nella card per il parametro "title" -->
      </div>
      <div class="card-subjects">
        <p><strong>Subjects:</strong></p>
        <ul>
          <li *ngFor="let subject of book.subject">{{ subject }}</li>
        </ul>
      </div>
    </div>
  </div>

  <div class="card" *ngIf="selectedOption.value === 'author'">
    <div class="card-header">
      <h4 class="card-title">{{ book.title }}</h4>
    </div>
    <div class="card-body">
      <div class="card-info">
        <p><strong>Author Name:</strong> {{ book.author_name }}</p>
        <p><strong>First Publish Year:</strong> {{ book.first_publish_year }}</p>
        <!-- <p><strong>Language:</strong> {{ book.language.join(', ') }}</p> -->
        <!-- Aggiungi altre proprietà da visualizzare nella card per il parametro "author" -->
      </div>
      <div class="card-subjects">
        <p><strong>Subjects:</strong></p>
        <ul>
          <li *ngFor="let subject of book.subject">{{ subject }}</li>
        </ul>
      </div>
    </div>
  </div>


</div>



<!-- <mat-card class="example-card">
  <mat-card-header>
    <mat-card-subtitle>{{response}}</mat-card-subtitle>
    <mat-card-title>Shiba Inu</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <p>This card has divider and indeterminate progress as footer</p>
    <p>{{ response }}</p>
    <mat-divider></mat-divider>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>LIKE</button>
    <button mat-button>SHARE</button>
  </mat-card-actions>
  <mat-card-footer>
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  </mat-card-footer>
</mat-card> -->
