<div class="pagination">
  <button (click)="goToFirstPage()" [disabled]="isFirstPage()">&#171;</button>
  <button (click)="goToPreviousPage()" [disabled]="isFirstPage()">&#8249;</button>


    <li *ngFor="let page of getPageNumbers()">
      <button (click)="goToPage(page)" [disabled]="isCurrentPage(page)">
        {{ page+1 }}
      </button>
    </li>


  <button (click)="goToNextPage()" [disabled]="isLastPage()">&#8250;</button>
  <button (click)="goToLastPage()" [disabled]="isLastPage()">&#187;</button>
</div>
