<h2>{{ details }}</h2>
<!-- <p>Description: {{ details.description?.value }}</p>
  <p>Created: {{ details.created?.value }}</p>
  <p>Last Modified: {{ details.last_modified?.value }}</p>
  <p>Latest Revision: {{ details.latest_revision }}</p>
  <p>Revision: {{ details.revision }}</p> -->

<h3>Authors:</h3>
<!-- <ul>
    <li *ngFor="let author of details.authors">
      {{ author.author.name }}
    </li>
  </ul>

  <h3>Subjects:</h3>
  <ul>
    <li *ngFor="let subject of details.subjects">
      {{ subject }}
    </li>
  </ul> -->

