
<div class="container">
  <div class="row">
    <div class="col-lg-4 description">
      <h1>{{ itemInfo?.title }}</h1>
      <p *ngIf="!isObject(itemInfo?.description)">{{ itemInfo?.description }}</p>
      <p *ngIf="itemInfo?.description?.value">{{ itemInfo?.description?.value }}</p>
      <h1 *ngIf="!itemInfo?.description">Nessuna descrizione per questo articolo in archivio</h1>
    </div>


  <div class="col-lg-8">
      <img *ngIf="!itemInfo?.covers" src="https://upload.wikimedia.org/wikipedia/commons/d/d1/Image_not_available.png" alt="">
      <h1 *ngIf="itemInfo?.covers">In archivio ci sono {{ itemInfo?.covers?.length || 0 }} immagini per {{ itemInfo?.title || 'questo articolo' }}</h1>
      <div class="row ">
      <div *ngFor="let cover of itemInfo?.covers; let i = index" class="col-lg-4">
        <div class="card col-lg-3">
          <img
            [src]="'https://covers.openlibrary.org/b/id/' + cover + '-M.jpg'"
            alt="Cover"
          />
          <caption><strong>Cover n° {{ i + 1 }}</strong></caption>
        </div>
      </div>
    </div>
    </div>
  </div>
</div>
